/encapTest.class
/TshirtSize.class
/PatternTriangleReverse.class
/PatternTriangle.class
/ASCII.class
/PatternSquareHollow.class
/Encap.class
/MethodOverloading.class
/PatternRhombus.class
/PatternRightangle.class
/PatternRightangleReverse.class
/PatternRightangleRight.class
/PatternRightangleUpRight.class
/PatternSquare.class
